{% extends 'layout_other.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top: 20px">
        {% if fr.profile %}

                <div class="card bg-light shadow rounded" style="color: black; " >
                <div class="card-body">
                    <td>
                        <img class="card-img-top shadow rounded" src="{{ fr.profile.url }}" alt="Card image" style="width: 20%; alignment: right">
                    </td>
                {% else %}
                    <td>
                    <img class="card-img-top" src="{% static 'images/naga.jpg' %}" alt="Card image" style="width: 20%; ">
                    </td>
        {% endif %}<br><br><br>


    <H1 class="text-uppercase"><b>{{ fr.myUser }}</b></H1>


    <h3>Description</h3>
        <p>{{ fr.description|safe }}</p><br><br>
        <a href="{% url 'deleteFreelancerProfile' fr.myUser%}" class="btn btn-outline-danger" style="float: right; margin-left: 10px">&nbsp;&nbsp;&nbsp; Delete &nbsp;&nbsp;&nbsp;</a>
        <a href="{% url 'ProfileFreelancerFormUpdate' fr.myUser%}" class="btn btn-outline-dark" style="float: right; margin-left: 10px">&nbsp;&nbsp;&nbsp; Update Image &nbsp;&nbsp;&nbsp;</a>
        <a href="{% url 'FreelancerUpdate' fr.myUser%}" class="btn btn-outline-dark" style="float: right">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</a><br><br>

</div>
</div><br><br><br><br>

</div>

{% endblock %}
