{% extends 'layout_other.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top: 20px">
        {% if fr.profile %}

        <div class="row bg-light shadow rounded" style="color: black; padding: 10px;" >
                <div class="col-md-3" style="background-color: #b6d4fe;">
                <center>
                    <td>
                        <img class="card-img-top shadow rounded" src="{{ fr.profile.url }}" alt="Card image" style="width: 100%; alignment: right">
                    </td>
                {% else %}
                    <td>
                    <img class="card-img-top" src="{% static 'images/naga.jpg' %}" alt="Card image" style="width: 100%; ">
                    </td>
                {% endif %}<br><br>
                <H1 class="text-uppercase"><b>{{ fr.myUser }}</b></H1>
                </center>
                </div>

                <div class="col-md-9" style="background-color: #b6d4fe; padding: 10px">
                    <a href="{% url 'deleteFreelancerProfile' fr.myUser%}" class="btn btn-outline-danger" style="float: right; margin-left: 10px">&nbsp;&nbsp;&nbsp; Delete &nbsp;&nbsp;&nbsp;</a>
                    <a href="{% url 'ProfileFreelancerFormUpdate' fr.myUser%}" class="btn btn-outline-dark" style="float: right; margin-left: 10px">&nbsp;&nbsp;&nbsp; Update Image &nbsp;&nbsp;&nbsp;</a>
                    <a href="{% url 'FreelancerUpdate' fr.myUser%}" class="btn btn-outline-dark" style="float: right">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</a><br><br>

                    <h3>Description</h3>
                    <p>{{ fr.description|safe }}</p><br><br>

                </div>
        </div>



</div>

{% endblock %}
