{% extends 'layout.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<h3 class="bg-secondary" style="color: white">New Freelancer Profile</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.media }}
            {{ form.as_p }}
        </div><br>
        <button type="submit" class="btn btn-danger" style="float: right; margin-left: 5px" onclick="location.href='{% url 'freelanceProfileShow' %}'">Cancel</button>
        <button type="submit" class="btn btn-primary" style="float: right; padding-left: 40px; padding-right: 40px">Create</button><br><br>

    </form>

    {% else %}
        <div class="alert alert-warning d-flex align-items-center" role="alert" style="margin-top: 10px">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use href="#exclamation-triangle-fill"/></svg>
                <div>
                    <a style="font-size: 20px">Must be logged in to see this page...</a>
            </div>
        </div>

{% endif %}
{% endblock content %}