{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HireTeeNee - Freelance Service</title>
    <link rel="shortcut icon" href="{% static 'images/freelance.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid-image.css' %}">
    <link rel="stylesheet" href="{% static 'css/headerz.css' %}">

</head>
<body style="background-color: #f3f3f3; opacity: 100%; padding-bottom: 0px">

    <!-- ส่วน Menu -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 bg-dark" style="height: 60px">
      <div class="container">
        <a class="navbar-brand" href="/index" style="width: 200px"><img src="{% static 'images/Hire.png' %}" style="width: 50%"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav">
            <li class="btn-outline-secondary">
              <a class="nav-link text-white" href="/index"><i class="fa fa-home"></i> Home</a>
            </li>

             <li class="btn-outline-secondary">
                <a class="nav-link text-white" href="/postPage"><i class="fa fa-list"></i> Post</a>
             </li>
             <li class="btn-outline-secondary">
                <a class="nav-link text-white" href="/search_post"><i class="fa fa-search"></i> Post Search</a>
             </li>

            <li class="btn-outline-secondary">
              <a class="nav-link text-white" href="mailto:patipan.tu@rmuti.ac.th"><i class="fa fa-contact-book"></i> Contact</a>
            </li>

            {% if user.is_authenticated %}
                <li class="btn-outline-secondary">
                  <a class="nav-link text-white" href="/myPost"><i class="fa fa-signs-post"></i> My Post</a>
                </li>

                <li class="btn-outline-secondary">
                  <a class="nav-link text-white" href="/freelanceProfileShow"><i class="fa fa-person-biking"></i> Freelancer</a>
                </li>

                <li class="btn-outline-secondary">
                  <a class="nav-link text-white" href="/userProfileShow"><i class="fa fa-user"></i> Profile: {{ user.user_id }}<img src="{% static 'images/online.jpg' %}" style="width: 10px; height: 10px; alignment: right"></a>
                </li>

                <li class="btn-outline-secondary">
                  <a class="nav-link text-white" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sign Out</a>
                </li>
            {% else %}
                <li class="btn-outline-secondary">
                  <a class="nav-link text-white" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Sign In</a>
                </li>

                <li class="nav-tabs">
                  <a class="nav-link text-white" href="{% url 'register_user' %}">Join</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav><br><br><br>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>

    <!-- ส่วน Content -->
    <div class="container-fluid" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-12" style="background-color: #f3f3f3; opacity: 100%; padding-bottom: 0px">
                {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success d-flex align-items-center" role="alert" style="margin-top: 10px">
                              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use href="#exclamation-triangle-fill"/></svg>
                              <div>
                                {{ message }}
                              </div>
                            </div>
                        {% endfor %}
                {% endif %}

                {% block content %}

                {% endblock %}

                {% block con2 %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <p style="padding-bottom: 20px"></p>
</body>
</html>