{% extends 'layout_other.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
{% if user == object.myUser or user.is_superuser %}

<h3 class="bg-secondary" style="color: white">Update Post</h3>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.media }}
            {{ form.as_p }}
        </div><br>
        <button type="submit" class="btn btn-danger" style="float: right; margin-left: 5px" onclick="location.href='{% url 'postPage' %}'">Cancel</button>
        <button type="submit" class="btn btn-primary" style="float: right; padding-left: 40px; padding-right: 40px">Save</button><br><br>
{% else %}
        <center style="margin-top: 200px">
        <h2>Access Denied!</h2>
        <p>Only {{ object.myUser }} can update this post.</p>
        Logged In User: {{ user.user_id }}<br>
        Post Manager: {{ object.myUser }}
        </center>

    </form>
{% endif %}
{% endif %}
{% endblock content %}