{% extends 'layout_other.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <p style="padding-top: 10px"></p>

        {% if user.user_profile %}

                <div class="card bg-light shadow rounded" style="color: black; width: 215px; height: 230px;" >
                <div class="card-body">
                    <td>
                        <img class="card-img-top" src="{{ user.user_profile.url }}" alt="Card image" style="width: 100%; alignment: right">
                    </td>
                {% else %}
                    <td>
                    <img class="card-img-top" src="{% static 'images/naga.jpg' %}" alt="Card image" style="width: 20%; ">
                    </td>
        {% endif %} <!-- User Profile -->
                </div>
                </div>

                <h2 class="text-uppercase">{{ user.user_id }}</h2>
                {% if user.is_admin == False %}
                    <b style="color: #2e8abb;">User</b>
                {% else %}
                    <b style="color: #0fff3a">Admin</b>
                {% endif %}<br>


    {% endif %} <!-- user.is_authenticated -->

{% endblock %}